<div class="ui segment raised center aligned">
  <div class="ui header icon">
    <i class="icon key yellow"></i>
    <div class="content">
      Identity Management System
      <div class="sub header" *ngIf="version"><ng-container i18n>Version</ng-container>: {{version.commit}}</div>
      <div class="sub header"><ng-container i18n>Author</ng-container>: Yukai (Kelvin) Miao</div>
      <div class="sub header">Source: <a href="https://github.com/tjumyk/auth" target="_blank">github.com/tjumyk/auth</a></div>
    </div>
  </div>
</div>
