<form class="ui form" [ngClass]="{'loading': verifying_token}" #f="ngForm" (ngSubmit)="verifyToken(f)">
  <div class="ui raised segment">
    <div class="ui center aligned icon header">
      <i class="icon green shield alternate"></i>
      <div class="content">
        Two-Factor Authentication
        <div class="sub header">
          Please enter the token shown in your Authenticator app
        </div>
      </div>
    </div>

    <div class="field" [ngClass]="{'error': (f.submitted || token_model.touched || token_model.dirty) && token_model.invalid}">
      <label>Token</label>
      <input type="text" name="token" maxlength="6" placeholder="Please enter the 6-digit token" required
             [(ngModel)]="token" #token_model="ngModel" autocomplete="off">
      <div class="errors" *ngIf="token_model.errors">
        <label *ngIf="token_model.errors.required"><i class="icon times"></i> Token is required</label>
      </div>
    </div>

    <div class="ui two buttons fluid">
      <button class="ui button" type="button" (click)="back.emit()"><i class="icon chevron left"></i> Back</button>
      <button class="ui primary button" type="submit"><i class="icon check"></i> Verify</button>
    </div>
  </div>
</form>


<div class="ui message">
  <ul class="list">
    <li>You should use the latest token from your Authenticator app. Each token usually expires in 30 seconds.</li>
    <li>If you have accidentally uninstalled your Authenticator app or lost your mobile phone, please <a routerLink="/account/request-disable-two-factor-by-email">request disabling two-factor authentication by Email</a>.</li>
  </ul>
</div>
