<div class="ui centered stackable grid">
  <div class="three wide column">
    <div class="ui vertical fluid large menu">
      <a routerLink="/" class="item">
        <i class="icon home"></i>
        Home
      </a>
      <div class="item">
        Account
        <div class="menu">
          <a routerLink="account/users" routerLinkActive="active" class="item"><i class="icon user"></i> Users</a>
          <a routerLink="account/groups" routerLinkActive="active" class="item"><i class="icon users"></i> Groups</a>
        </div>
      </div>
      <div class="item">
        OAuth
        <div class="menu">
          <a routerLink="oauth/clients" routerLinkActive="active" class="item"><i class="icon window restore outline"></i> Clients</a>
        </div>
      </div>
    </div>

    <div class="ui vertical fluid buttons">
      <button class="ui button" routerLink="/settings">
        <i class="icon cog"></i>
        My Settings
      </button>
      <button class="ui teal button" routerLink="/account/logout">
        <i class="icon sign out"></i>
        Sign Out
      </button>
    </div>
  </div>

  <div class="thirteen wide column">
    <router-outlet></router-outlet>
  </div>
</div>
