<div class="ui error message" *ngIf="error">
  <i class="close icon" (click)="error=undefined"></i>
  <div class="header"><i class="times circle icon"></i> {{error.msg}}</div>
  <p>{{error.detail}}</p>
</div>

<form class="ui large form" #f="ngForm" (ngSubmit)="start_request(f)" [ngClass]="{'loading': requesting}" [hidden]="success||provider">
  <div class="ui raised segment">
    <div class="field" [ngClass]="{'error': name_model.invalid && (f.submitted || name_model.dirty || name_model.touched)}">
      <div class="ui left icon input">
        <i class="user icon"></i>
        <input type="text" placeholder="User name or E-mail address"
               required
               [(ngModel)]="name_or_email" name="name_or_email" #name_model="ngModel">
      </div>
      <div *ngIf="name_model.errors" class="errors">
        <label *ngIf="name_model.errors.required"><i class="times icon"></i> Username or E-mail address is required </label>
      </div>
    </div>
    <button class="ui fluid large primary submit button" type="submit">Request Password Reset</button>
  </div>
</form>

<div class="ui padded raised segment" *ngIf="success">
  <div class="ui center aligned fluid header">
    <div class="content">
      <i class="check circle green icon"></i> Password reset requested
      <div class="sub header">
        Please check your mailbox and find the reset link
      </div>
    </div>
  </div>
</div>

<div class="ui padded raised segment" *ngIf="provider">
  <ng-container *ngIf="provider.reset_password_url; else noResetURL">
    Please click the following button to visit the external system to reset your {{provider.name}}.
    <a [href]="provider.reset_password_url" target="_blank" class="ui button primary fluid">
      <i class="icon external"></i> Reset {{provider.name}}
    </a>
  </ng-container>
  <ng-template #noResetURL>
    Please search for the external system to reset your {{provider.name}}, e.g. Google "Reset {{provider.name}}". If you cannot find it, please contact us for help.
  </ng-template>
</div>
