.background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(#26a0da, #314755);
}

.ui.container {
  height: 100%;
  > .grid {
    height: 100%;
    > .column {
      max-width: 450px;
    }
  }
}

.banner.image {
  height: 60px;
  width: auto;
  margin: 0.3em;
}

.text.brand{
  display: block;
  background: #8d2441;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding: 1.5rem;
  font-size: 1.25em;
  color: white;

  >.sub.header{
    color: white;
  }
}
