<div class="background"></div>

<div class="ui container">
  <div class="ui middle aligned centered padded stackable grid">
    <div class="column">
      <div class="ui padded raised segment">
        <h2 class="ui center aligned fluid header">
          <div>
            <img src="static/assets/images/banner.png" class="banner image">
          </div>
          <div class="content text brand">
            Computer Science & Engineering
            <div class="sub header">
              Professor Wei Wang's Group
            </div>
          </div>
        </h2>

        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
