<div class="ui error message" *ngIf="error">
  <i class="close icon" (click)="error=undefined"></i>
  <div class="header"><i class="times circle icon"></i> {{error.msg}}</div>
  <p>{{error.detail}}</p>
</div>

<div class="ui stackable two column grid">
  <div class="column">
    <div class="ui large centered active inline text loader" *ngIf="loading_client">Loading client profile...</div>

    <div *ngIf="!loading_client && client">
      <div class="ui segments">
        <div class="ui segment">
          <div class="ui header">
            <i class="window restore outline icon" *ngIf="!client.icon"></i>
            <img [src]="client.icon" *ngIf="client.icon" class="ui image">
            {{client.name}}
          </div>
        </div>
        <div class="ui segment">
          <div class="ui relaxed horizontal list">
            <div class="item">
              <div class="header">ID</div>
              {{client.id}}
            </div>
            <div class="item">
              <div class="header">Name</div>
              {{client.name}}
            </div>
            <div class="item">
              <div class="header">Access Control</div>
              <span *ngIf="client.is_public" class="text warning"><i class="icon lock open"></i> Public</span>
              <div *ngIf="!client.is_public">
                <span *ngIf="client.allowed_groups.length" class="text success"><i class="icon lock"></i> Only members of allowed groups</span>
                <div *ngIf="!client.allowed_groups.length" class="text error">
                  <i class="red icon lock"></i> No one can access this client
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="ui segment">
          <div class="ui list">
            <div class="item">
              <div class="header">Secret</div>
              {{client.secret}}
            </div>
            <div class="item">
              <div class="header">Created At</div>
              {{client.created_at | date:'medium'}}
            </div>
            <div class="item">
              <div class="header">Modified At</div>
              {{client.modified_at | date:'medium'}}
            </div>
          </div>
        </div>

        <div class="ui segment">
          <div class="ui success message" *ngIf="admin_operation_success">
            <i class="close icon" (click)="admin_operation_success=undefined"></i>
            <div class="header"><i class="check circle icon"></i> {{admin_operation_success.msg}}</div>
            {{admin_operation_success.detail}}
          </div>

          <p>
            <a class="ui primary button" [hidden]="!client.is_public" [ngClass]="{'loading disabled': setting_public}" (click)="setPublic(false)">
              <i class="lock icon"></i> Disable Public Access
            </a>
            <a class="ui yellow button" [hidden]="client.is_public" [ngClass]="{'loading disabled': setting_public}"  (click)="setPublic(true)">
              <i class="lock open icon"></i> Enable Public Access
            </a>
          </p>

          <p>
            <a class="ui yellow button" [ngClass]="{'loading disabled': regenerating_secret}" (click)="regenerateSecret()"><i class="repeat icon"></i> Regenerate Secret</a>
            <a class="ui red button" (click)="deleteClient()" [ngClass]="{'loading disabled': deleting}"><i class="trash icon"></i>Delete Client</a>
          </p>
        </div>

        <div class="ui segment">
          <div class="ui success message" *ngIf="update_profile_success">
            <i class="close icon" (click)="update_profile_success=undefined"></i>
            <div class="header"><i class="check circle icon"></i> Profile updated successfully</div>
          </div>
          <div class="ui error message" *ngIf="update_profile_error">
            <i class="close icon" (click)="update_profile_error=undefined"></i>
            <div class="header"><i class="times circle icon"></i> {{update_profile_error.msg}}</div>
            <p>{{update_profile_error.detail}}</p>
          </div>

          <form #f="ngForm" class="ui form" (ngSubmit)="updateProfile(f)" [ngClass]="{'loading': updating_profile}">
            <div class="field"
                 [ngClass]="{'error': (f.submitted || redirect_url_model.touched || redirect_url_model.dirty) && redirect_url_model.invalid}">
              <label>Redirect URL</label>
              <input type="text" name="redirect_url" placeholder="at most 128 characters"
                     required maxlength="128"
                     [(ngModel)]="form.redirect_url" #redirect_url_model="ngModel">
              <div class="errors" *ngIf="redirect_url_model.errors">
                <label *ngIf="redirect_url_model.errors.required"><i class="times icon"></i> Redirect URL is required</label>
                <label *ngIf="redirect_url_model.errors.maxlength"><i class="times icon"></i> At most 128 characters</label>
              </div>
            </div>
            <div class="field"
                 [ngClass]="{'error': (f.submitted || home_url_model.touched || home_url_model.dirty) && home_url_model.invalid}">
              <label>Home URL</label>
              <input type="text"  name="home_url" placeholder="at most 128 characters"
                     required maxlength="128"
                     [(ngModel)]="form.home_url" #home_url_model="ngModel">
              <div class="errors" *ngIf="home_url_model.errors">
                <label *ngIf="home_url_model.errors.required"><i class="times icon"></i> Home URL is required</label>
                <label *ngIf="home_url_model.errors.maxlength"><i class="times icon"></i> At most 128 characters</label>
              </div>
            </div>
            <div class="field"
                 [ngClass]="{'error': (f.submitted || desc_model.touched || desc_model.dirty) && desc_model.invalid}">
              <label>Description (Optional)</label>
              <textarea  name="description" placeholder="at most 256 characters" rows="5"
                         maxlength="256"
                         [(ngModel)]="form.description" #desc_model="ngModel"></textarea>
              <div class="errors" *ngIf="desc_model.errors">
                <label *ngIf="desc_model.errors.maxlength"><i class="times icon"></i> At most 256 characters</label>
              </div>
            </div>

            <button class="ui primary fluid submit button" type="submit">Update Profile</button>
          </form>
        </div>

        <div class="ui segment">
          <div class="ui success message" *ngIf="update_icon_success">
            <i class="close icon" (click)="update_icon_success=undefined"></i>
            <div class="header"><i class="check circle icon"></i> Icon updated successfully</div>
          </div>
          <div class="ui error message" *ngIf="update_icon_error">
            <i class="close icon" (click)="update_icon_error=undefined"></i>
            <div class="header"><i class="times circle icon"></i> {{update_icon_error.msg}}</div>
            <p>{{update_icon_error.detail}}</p>
          </div>

          <div class="ui center aligned grid">
            <div class="column">
              <form class="ui form" [ngClass]="{'loading': updating_icon}">
                <div class="field">
                  <label>Icon</label>
                  <input type="file" hidden name="icon" #icon_input [accept]="icon_validator.filter.accept.join(',')" (change)="uploadIcon(icon_input)">
                  <img class="ui small centered image" [src]="client.icon" *ngIf="client.icon">
                  <div class="text muted" *ngIf="!client.icon">(No icon)</div>
                </div>
                <button class="ui primary button" type="button" (click)="icon_input.click()">Upload Icon</button>
                <p>Max size: {{icon_validator.filter.size_limit/1024 | number}}KB, squared image only</p>
              </form>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="column">

    <div *ngIf="client && !client.is_public" class="ui segment">

      <div class="ui segment top attached">
        <div class="ui header">
          <i class="icon users"></i>
          Allowed Groups
        </div>
      </div>

      <div class="ui segment attached" *ngIf="remove_allowed_group_error || removed_allowed_group">
        <div class="ui error message" *ngIf="remove_allowed_group_error">
          <i class="close icon" (click)="remove_allowed_group_error=undefined"></i>
          <div class="header"><i class="times circle icon"></i> {{remove_allowed_group_error.msg}}</div>
          <p>{{remove_allowed_group_error.detail}}</p>
        </div>

        <div class="ui success message" *ngIf="removed_allowed_group">
          <i class="close icon" (click)="removed_allowed_group=undefined"></i>
          <div class="header"><i class="check circle icon"></i> Removed {{removed_allowed_group.name}} from allowed group</div>
        </div>
      </div>

      <table class="ui bottom attached table celled unstackable compact">
        <thead><tr><th>ID</th><th>Name</th><th>Description</th><th class="collapsing">Ops</th></tr></thead>
        <tbody>
        <tr *ngFor="let group of client.allowed_groups; index as i">
          <td>{{group.id}}</td>
          <td>{{group.name}}</td>
          <td>{{group.description}}</td>
          <td class="collapsing">
            <div class="ui small buttons">
              <a routerLink="../../../../account/groups/g/{{group.id}}" class="ui icon button"><i class="icon edit"></i></a>
              <a class="ui icon red button" #removeAllowedGroupBtn (click)="removeAllowedGroup(group, i, removeAllowedGroupBtn)"><i class="icon minus"></i></a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

      <div class="ui segment top attached">
        <div class="ui header">
          <i class="icon plus"></i>
          Add New Allowed Group
        </div>
      </div>

      <div class="ui segment attached">
        <div class="ui error message" *ngIf="add_allowed_group_error">
          <i class="close icon" (click)="add_allowed_group_error=undefined"></i>
          <div class="header"><i class="times circle icon"></i> {{add_allowed_group_error.msg}}</div>
          <p>{{add_allowed_group_error.detail}}</p>
        </div>

        <div class="ui success message" *ngIf="added_allowed_group">
          <i class="close icon" (click)="added_allowed_group=undefined"></i>
          <div class="header"><i class="check circle icon"></i> Added {{added_allowed_group.name}} to allowed group</div>
        </div>

        <div class="ui icon fluid input">
          <input type="text" placeholder="Search groups by name or description..."
                 (keyup)="searchGroup(searchInput.value)" #searchInput>
          <i class="icon search"></i>
        </div>
        <p class="text muted" [hidden]="!group_search_results || group_search_results.length > 0"><i class="info circle icon"></i> No results</p>
      </div>

      <table class="ui table unstackable compact celled bottom attached" [hidden]="!group_search_results || group_search_results.length==0">
        <thead><tr><th>ID</th><th>Name</th><th>Description</th><th class="collapsing">Ops</th></tr></thead>
        <tbody>
        <tr *ngFor="let group of group_search_results; index as i">
          <td>{{group.id}}</td>
          <td>{{group.name}}</td>
          <td>{{group.description}}</td>
          <td class="collapsing">
            <div class="ui small buttons">
              <a class="ui icon button" routerLink="../../../../account/groups/g/{{group.id}}"><i class="icon edit"></i></a>
              <a class="ui primary icon button" *ngIf="!groupAlreadyAllowed(group); else successBtn"
                 #addAllowedGroupBtn (click)="addAllowedGroup(group, i, addAllowedGroupBtn)"><i class="icon plus"></i></a>
              <ng-template #successBtn><a class="ui green icon button"><i class="check icon"></i></a></ng-template>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

    </div>

    <div class="ui large centered active inline text loader" *ngIf="loading_authorizations">Loading authorizations...</div>

    <div *ngIf="!loading_authorizations && authorizations">
      <div class="ui top attached segment">
        <div class="ui header">
          <i class="handshake outline icon"></i>
          Authorizations
        </div>
      </div>
      <table class="ui table celled very compact unstackable bottom attached">
        <thead><tr><th>#</th><th>User ID</th><th>User Name</th><th>Created At</th><th>Updated At</th></tr></thead>
        <tbody>
        <tr *ngFor="let record of authorizations; index as i">
          <td>{{i+1}}</td>
          <td>{{record.user_id}}</td>
          <td><a routerLink="../../../../account/users/u/{{record.user_id}}">{{record.user.name}}</a></td>
          <td>{{record.created_at | date:'short'}}</td>
          <td>{{record.modified_at | date:'short'}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
