<div class="ui error message" *ngIf="error">
  <i class="close icon" (click)="error=undefined"></i>
  <div class="header"><i class="times circle icon"></i> {{error.msg}}</div>
  <p>{{error.detail}}</p>
</div>

<form class="ui large form" #f="ngForm" (ngSubmit)="start_request(f)" [ngClass]="{'loading': requesting}" [hidden]="success">
  <div class="ui raised segment">
    <div class="field" [ngClass]="{'error': name_model.invalid && (f.submitted || name_model.dirty || name_model.touched)}">
      <div class="ui left icon input">
        <i class="user icon"></i>
        <input type="text" placeholder="User name or E-mail address"
               required
               [(ngModel)]="name_or_email" name="name_or_email" #name_model="ngModel">
      </div>
      <div *ngIf="name_model.errors" class="errors">
        <label *ngIf="name_model.errors.required"><i class="times icon"></i> <ng-container i18n>Username or E-mail address is required</ng-container> </label>
      </div>
    </div>
    <button class="ui fluid large primary submit button" type="submit" i18n>Reconfirm E-mail</button>
  </div>
</form>

<div class="ui padded raised segment" *ngIf="success">
  <div class="ui center aligned fluid header">
    <div class="content">
      <i class="check circle green icon"></i> <ng-container i18n>Requested E-mail reconfirmation</ng-container>
      <div class="sub header" i18n>Please check your mailbox and find the confirmation link</div>
    </div>
  </div>
</div>
