<div class="ui error message" *ngIf="error">
  <i class="close icon" (click)="error=undefined"></i>
  <div class="header"><i class="times circle icon"></i> {{error.msg}}</div>
  <p>{{error.detail}}</p>
</div>

<div class="ui success message" *ngIf="success">
  <i class="close icon" (click)="success=undefined"></i>
  <div class="header"><i class="check circle icon"></i> <ng-container i18n>Updated password successfully</ng-container></div>
</div>

<div class="ui raised segments" *ngIf="user">
  <div class="ui segment">
    <div class="ui header">
      <i class="icon key"></i>
      <ng-container i18n>Password</ng-container>
    </div>
  </div>
  <div class="ui segment" *ngIf="!user.external_auth_provider_id || !user.external_auth_enforced">
    <form class="ui form" [ngClass]="{'loading': updating_password}" #f="ngForm" (ngSubmit)="updatePassword(f)">
      <div class="field" [ngClass]="{'error': (f.submitted || old_pass_model.touched || old_pass_model.dirty) && old_pass_model.invalid}">
        <label i18n>Old password</label>
        <input type="password" name="old_password" placeholder="old password"
               required
               [(ngModel)]="form.old_password" #old_pass_model="ngModel">
        <div class="errors" *ngIf="old_pass_model.errors">
          <label *ngIf="old_pass_model.errors.required"><i class="icon times"></i> Old password is required</label>
        </div>
      </div>
      <div class="field" [ngClass]="{'error': (f.submitted || new_pass_model.touched || new_pass_model.dirty) && new_pass_model.invalid}">
        <label i18n>New password</label>
        <input type="password" name="new_password" placeholder="8-20 characters"
               required minlength="8" maxlength="20" appStrongPassword
               [(ngModel)]="form.new_password" #new_pass_model="ngModel">
        <div class="errors" *ngIf="new_pass_model.errors">
          <label *ngIf="new_pass_model.errors.required"><i class="icon times"></i> New password is required</label>
          <label *ngIf="new_pass_model.errors.minlength"><i class="icon times"></i> At least 8 characters</label>
          <label *ngIf="new_pass_model.errors.maxlength"><i class="icon times"></i> At most 20 characters</label>
          <label *ngIf="new_pass_model.errors.strongPassword"><i class="icon times"></i> {{new_pass_model.errors.strongPassword}}</label>
        </div>
      </div>
      <div class="field" [ngClass]="{'error': (f.submitted || repeat_new_pass_model.touched || repeat_new_pass_model.dirty) && repeat_new_pass_model.invalid}">
        <label i18n>Repeat new password</label>
        <input type="password" name="repeat_new_password" placeholder="repeat the new password"
               required minlength="8" maxlength="20" appSameAs="{{form.new_password}}"
               [(ngModel)]="form.repeat_new_password" #repeat_new_pass_model="ngModel">
        <div class="errors" *ngIf="repeat_new_pass_model.errors">
          <label *ngIf="repeat_new_pass_model.errors.required"><i class="icon times"></i> Please repeat the new password</label>
          <label *ngIf="repeat_new_pass_model.errors.minlength"><i class="icon times"></i> At least 8 characters</label>
          <label *ngIf="repeat_new_pass_model.errors.maxlength"><i class="icon times"></i> At most 20 characters</label>
          <label *ngIf="repeat_new_pass_model.errors.sameAs"><i class="icon times"></i> Two new passwords do not match</label>
        </div>
      </div>
      <button class="ui primary fluid button" type="submit" i18n>Update Password</button>
    </form>
  </div>

  <div *ngIf="provider" class="ui segment">
    <ng-container *ngIf="provider.update_password_url; else noUpdatePasswordUrl">
      <div>If you want to update your {{provider.name}}, please click the following button to visit the external system.</div>
      <a [href]="provider.update_password_url" target="_blank" class="ui button primary"><i class="icon external"></i> Update {{provider.name}}</a>
    </ng-container>
    <ng-template #noUpdatePasswordUrl>
      If you want to update your {{provider.name}}, please search for the external system for this operation, e.g. Google "Update {{provider.name}}". If you cannot find it, please contact us for help.
    </ng-template>
  </div>
</div>
