<div class="ui error message" *ngIf="error">
  <i class="close icon" (click)="error=undefined"></i>
  <div class="header"><i class="times circle icon"></i> {{error.msg}}</div>
  <p>{{error.detail}}</p>
</div>

<div class="ui success message" *ngIf="success">
  <i class="close icon" (click)="success=undefined"></i>
  <div class="header"><i class="check circle icon"></i> Updated password successfully</div>
</div>

<div class="ui raised segments">
  <div class="ui segment">
    <div class="ui header">
      <i class="icon key"></i>
      Password
    </div>
  </div>
  <div class="ui segment">
    <form class="ui form" [ngClass]="{'loading': updating_password}" #f="ngForm" (ngSubmit)="updatePassword(f)">
      <div class="field" [ngClass]="{'error': (f.submitted || old_pass_model.touched || old_pass_model.dirty) && old_pass_model.invalid}">
        <label>Old password</label>
        <input type="password" name="old_password" placeholder="old password"
               required
               [(ngModel)]="form.old_password" #old_pass_model="ngModel">
        <div class="errors" *ngIf="old_pass_model.errors">
          <label *ngIf="old_pass_model.errors.required"><i class="icon times"></i> Old password is required</label>
        </div>
      </div>
      <div class="field" [ngClass]="{'error': (f.submitted || new_pass_model.touched || new_pass_model.dirty) && new_pass_model.invalid}">
        <label>New password</label>
        <input type="password" name="new_password" placeholder="8-20 characters"
               required minlength="8" maxlength="20" appStrongPassword
               [(ngModel)]="form.new_password" #new_pass_model="ngModel">
        <div class="errors" *ngIf="new_pass_model.errors">
          <label *ngIf="new_pass_model.errors.required"><i class="icon times"></i> New password is required</label>
          <label *ngIf="new_pass_model.errors.minlength"><i class="icon times"></i> At least 8 characters</label>
          <label *ngIf="new_pass_model.errors.maxlength"><i class="icon times"></i> At most 20 characters</label>
          <label *ngIf="new_pass_model.errors.strongPassword"><i class="icon times"></i> {{new_pass_model.errors.strongPassword}}</label>
        </div>
      </div>
      <div class="field" [ngClass]="{'error': (f.submitted || repeat_new_pass_model.touched || repeat_new_pass_model.dirty) && repeat_new_pass_model.invalid}">
        <label>Repeat new password</label>
        <input type="password" name="repeat_new_password" placeholder="repeat the new password"
               required minlength="8" maxlength="20" appSameAs="{{form.new_password}}"
               [(ngModel)]="form.repeat_new_password" #repeat_new_pass_model="ngModel">
        <div class="errors" *ngIf="repeat_new_pass_model.errors">
          <label *ngIf="repeat_new_pass_model.errors.required"><i class="icon times"></i> Please repeat the new password</label>
          <label *ngIf="repeat_new_pass_model.errors.minlength"><i class="icon times"></i> At least 8 characters</label>
          <label *ngIf="repeat_new_pass_model.errors.maxlength"><i class="icon times"></i> At most 20 characters</label>
          <label *ngIf="repeat_new_pass_model.errors.sameAs"><i class="icon times"></i> Two new passwords do not match</label>
        </div>
      </div>
      <button class="ui primary fluid button" type="submit">Update Password</button>
    </form>
  </div>
</div>
