<div class="ui container">
  <div class="ui middle aligned centered padded stackable grid">
    <div class="column">
      <div class="ui padded raised segment">
        <h2 class="ui center aligned fluid header">
          <div>
            <img src="static/assets/images/banner.png" class="banner image">
          </div>
          <div class="content text brand">
            {{env.organization}}
            <div class="sub header">
              {{env.group}}
            </div>
          </div>
        </h2>

        <div class="ui warning message" *ngIf="isAdmin && !user.is_two_factor_enabled">
          <div class="header"><i class="exclamation triangle icon"></i> <ng-container i18n>Please enable the Two-Factor Authentication!</ng-container></div>
          <p>Since admins have superpowers, we strongly suggest you enabling the Two-Factor Authentication to protect both your account and the systems.</p>
          <a class="ui button tiny" routerLink="/settings/two-factor" i18n>Enable it Now!</a>
        </div>

        <div class="ui error message" *ngIf="error">
          <i class="close icon" (click)="error=undefined"></i>
          <div class="header"><i class="times circle icon"></i> {{error.msg}}</div>
          <p>{{error.detail}}</p>
        </div>


        <div class="ui divider horizontal" i18n>My Apps</div>
        <div class="ui text loader inline active centered" *ngIf="loadingClients" i18n>Loading app list...</div>
        <div *ngIf="clients && clients.length==0" class="no-clients">
          <div class="ui center aligned icon disabled header">
            <i class="times circle outline icon"></i>
            <div class="content" i18n>You have no access to any apps right now</div>
          </div>
        </div>
        <div *ngIf="clients">
          <div class="ui grid app-icon centered">
            <div class="column" *ngFor="let client of clients">
              <a class="ui icon header client-card center aligned" [href]="client.home_url" [title]="client.description || ''">
                <img class="ui image icon" [src]="client.icon" *ngIf="client.icon; else defaultIcon">
                <ng-template #defaultIcon><i class="icon window restore outline circular default-client-icon"></i></ng-template>
                <div class="content">
                  {{client.name}}
                  <i class="yellow icon lock block-icon" *ngIf="client._is_ip_blocked"></i>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="ui divider"></div>
        <div class="ui grid center aligned">
          <div class="column">
            <p *ngIf="isAdmin">
              <a class="ui button basic violet" routerLink="/admin"><i class="icon cogs"></i> <ng-container i18n>Management</ng-container></a>
            </p>
            <p>
              <a class="ui button basic" routerLink="/settings">
                <img src="{{user.avatar}}?size=64" class="ui image avatar" *ngIf="user.avatar; else noAvatar">
                <ng-template #noAvatar><i class="icon user circle"></i></ng-template>
                {{user.nickname || user.name}}
              </a>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
