<div class="ui error message" *ngIf="error">
  <i class="close icon" (click)="error=undefined"></i>
  <div class="header"><i class="times circle icon"></i> {{error.msg}}</div>
  <p>{{error.detail}}</p>
</div>

<div class="ui padded raised segment" *ngIf="verifying_logged_in">
  <div class="ui large centered text inline loader active" i18n>Checking user status...</div>
</div>

<div class="ui padded raised segment" *ngIf="starting_authorization">
  <div class="ui large centered text inline loader active" i18n>Starting authorization...</div>
</div>

<div class="ui padded raised segment" *ngIf="start_authorization_success">
  <div class="ui large centered text inline loader active">Redirecting<span *ngIf="client"> to {{client.name}}</span>...</div>
</div>


<div *ngIf="!verifying_logged_in && !user">

  <div *ngIf="show_two_factor; else login_form">
    <app-two-factor-login-box (error)="error=$event" (back)="show_two_factor=false" (verified)="afterLogin($event)" [remember]="form.remember"></app-two-factor-login-box>
  </div>

  <ng-template #login_form>
    <div class="ui raised segments">

      <div class="ui segment center aligned" *ngIf="loading_client || client">

        <div class="ui large centered text inline loader active" *ngIf="loading_client" i18n>Loading client info...</div>

        <div class="ui client header" *ngIf="!loading_client && client" [ngClass]="{'icon': !client.icon}">
          <div>
            <img [src]="client.icon" class="ui image tiny centered" *ngIf="client.icon">
            <i class="icon window restore outline" *ngIf="!client.icon"></i>
          </div>
          <div class="content">
            {{client.name}}
            <div class="sub header">{{client.description}}</div>
          </div>
        </div>

      </div>

      <div class="ui segment">
        <form class="ui large form" #f="ngForm" (ngSubmit)="login(f)" [ngClass]="{'loading': logging_in}">
          <div class="field" [ngClass]="{'error': name_or_email.invalid && (f.submitted || name_or_email.dirty || name_or_email.touched)}">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" placeholder="User name or E-mail address"
                     required
                     [(ngModel)]="form.name_or_email" name="name_or_email" #name_or_email="ngModel">
            </div>
            <div *ngIf="name_or_email.errors" class="errors">
              <label *ngIf="name_or_email.errors.required"><i class="times icon"></i> <ng-container i18n>Username or E-mail address is required</ng-container> </label>
            </div>
          </div>
          <div class="field" [ngClass]="{'error': password.invalid && (f.submitted || password.dirty || password.touched)}">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" placeholder="Password"
                     required
                     [(ngModel)]="form.password" name="password" #password="ngModel">
            </div>
            <div *ngIf="password.errors" class="errors">
              <label *ngIf="password.errors.required"><i class="times icon"></i> <ng-container i18n>Password is required</ng-container> </label>
            </div>
          </div>
          <div class="ui field">
            <div class="ui checkbox" (click)="checkbox_remember.click()">
              <input type="checkbox" tabindex="0" class="hidden" [(ngModel)]="form.remember" name="remember" #checkbox_remember>
              <label i18n>Remember Me</label>
            </div>
          </div>
          <button class="ui fluid large primary button" type="submit" i18n>Sign In</button>
        </form>
      </div>
    </div>

    <div class="footer">
      <div class="ui horizontal bulleted link list">
        <a class="item" routerLink="/account/request-reconfirm-email" i18n>Re-confirm E-mail</a>
        <a class="item" routerLink="/account/request-reset-password" i18n>Reset Password</a>
        <a class="item" routerLink="/account/register" i18n>Sign Up</a>
      </div>
    </div>
  </ng-template>

</div>
